<p>product-create works!</p>
<div class="rowing">
  <div class="">
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
      <div class="form-group">
        <label for="price">Price:</label><br />
        <input
          type="number"
          placeholder="Price"
          #price="ngModel"
          class="form-control"
          id="price"
          required
          ngModel
          name ="price"
        />
        <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
          Price is required
        </div>
      </div>

      <div class="form-group">
        <label for="product">Product:</label><br />
        <input
          type="text"
          placeholder="Product Name"
          class="form-control"
          required
          ngModel
          #product = 'ngModel'
          name ="product"
        />
      </div>

      <div class="form-group">
        <label for="seller">Seller:</label><br />
        <input
          type="text"
          placeholder="Seller"
          class="form-control"
          required
          ngModel
          #seller="ngModel"
          name ="seller"
        />
      </div>

      <div class="form-group">
        <label for="loyaltypercent">Loyalty Percent:</label><br />
        <input
          type="number"
          placeholder="loyalty percent e.g. 0.3"
          class="form-control"
          required
          ngModel
          #loyaltypercent="ngModel"
          name="loyaltypercent"
        />
      </div>

      <!-- <button (click)="createQR(pr)">Create QR Code</button> -->
      <input type="submit" class="btn btn-success"
      [disabled]="!productForm.form.valid" value="Add Product" />
    </form>

    <!-- <button
      type="submit"
      class="btn btn-success"
      [disabled]="!productForm.form.valid"
    >
      Submit
    </button>

    <button
      type="button"
      class="btn btn-default"
      (click)="newProduct(); productForm.reset()"
    >
      New Product
    </button>
     Now clicking New Hero resets both the form and its control flags. -->
  </div>

  <div class="">
    <div *ngIf="productForm.touched">
      <h2>New Product</h2>
      <p>Product Name: {{ product.value }}</p>
      <p>Product Price: {{ price.value}}</p>
      <p>Seller: {{ seller.value }}</p>
      <p>Loyalty Percent: {{ loyaltypercent.value }}</p>
    </div>
    <div [hidden]="!submitted">
      <canvas id="canvas"></canvas>
      <!-- < --! <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Product</div>
        <div class="col-xs-9">{{ product.product }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Seller</div>
        <div class="col-xs-9">{{ product.seller }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Price</div>
        <div class="col-xs-9">{{ product.price }}</div>
      </div>
      <br />
      <button class="btn btn-primary" (click)="addQR(product)">Edit</button> -->
    </div>
  </div>
</div>
