<app-scan (scannedLoyalty) = "OnscannedLoyalty($event)"></app-scan>

<p>user-loyalty-list works! Coming from the loyalty list component, embbeded in user component</p>
<!-- <a [routerLink]="['/loyalties', loyalty.id]"></a> -->
<div>
  <p>Loyalties are:</p>
  <ul>

    <li *ngFor="let loyalty of loyalties" (click)="onSelect(loyalty)" [class.selected]="loyalty === selectedLoyalty">
      <a [routerLink]="['/loyalties', loyalty.id]">
      id: {{loyalty.id}}, product: {{loyalty.product}}, price: {{loyalty.price}}, percentage: {{loyalty.loyaltypercent}}
    </a>
    </li>
  </ul>
</div>

<app-user-loyalty-details [loyalty]="selectedLoyalty"></app-user-loyalty-details>
